# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env
.env.*

# Kaggle configuration
.kaggle/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.swp

airflow/logs/*